# users
xy
test
libtorch
Debug
get_line/Debug
#
.vs
*.pro.user
/get_roi/sync.ffs_db
/get_line/sync.ffs_db
/get_line/Release/get_line.tlog
/get_roi/get_roi.vcxproj
*.filters
*.ipdb
*.iobj
/BatchRun.ffs_batch
/shore_line_seg/x64/Release/shore_line_seg.tlog
/Release
